/* Brush Script MT webfont wiring
   Font files located in /public/fonts/
*/
@font-face {
  font-family: "Brush Script MT";
  src: url("../../public/fonts/Brush Script MT.woff2") format("woff2"),
    url("../../public/fonts/Brush Script MT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
